body{
	background-color: #CCFF66;
	/*background-image: url("Background 3.jpg"); */
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 1500px;
}
.Main{
	text-align: center;
	font-family: 'Tangerine', serif;	
	font-size: 100px;
	margin-top: 20px;
	text-shadow: 5px 5px 5px #FFFFFF;
	color: Black;
}
.Hover img:hover {
	opacity: 0.7;
	-webkit-filter: grayscale(1);
}
.Hover img {
	opacity: 1;
	-webkit-filter: grayscale(0);
}
.Hover {
	text-decoration: none;
}
